.sentence
    .sentence__bg
        +lazyImage({
            src: `${baseDir}assets/images/sentence/sentence.jpg`,
            alt: '',
            appear: false,
        })
    .sentence__box
        p.h1 Привоза санкционных товаров на&nbsp;европейскую технику
        .sentence__brands
            +brand({
                src: `${baseDir}assets/images/brand/logo-1.png`
            })
            +brand({
                src: `${baseDir}assets/images/brand/logo-2.png`
            })
            +brand({
                src: `${baseDir}assets/images/brand/logo-1.png`
            })
            +brand({
                src: `${baseDir}assets/images/brand/logo-2.png`
            })
            +brand({
                src: `${baseDir}assets/images/brand/logo-1.png`
            })
            +brand({
                src: `${baseDir}assets/images/brand/logo-2.png`
            })
