.intro
    .intro__bg
        +lazyImage({
            src: `${baseDir}assets/images/intro/bg.jpg`,
            alt: '',
            appear: false,
        })
        img(src=`${baseDir}assets/images/intro/bg.jpg`)
    .container
        .intro__info.center
            h1.h1 Запчасти для вилочных погрузчиков
            p.h3 Лучший сервис в&nbsp;России. Более 37&nbsp;000&nbsp;000 позиций в&nbsp;наличии и&nbsp;под заказ. Экспресс-доставка за&nbsp;24&nbsp;часа.
            .intro__btn
                a.button.button__primary-outline Запрос по каталожным номерам
                a.button.button__primary-outline Запрос по данным техники
                a.button.button__primary-outline Перейти в каталог
.intro
    .intro__bg
        +lazyImage({
            src: `${baseDir}assets/images/intro/bg.jpg`,
            alt: '',
            appear: false,
        })
        img(src=`${baseDir}assets/images/intro/bg.jpg`)
    .container
        .intro__info
            h1.h1 Автопогрузчики и складская техника
            p.h3 Гарантия 5 лет. 350 единиц техники в наличии. Лучшие цены в России. От официального дилера.
            .intro__btn
                a.button.button__primary-outline Перейти в каталог
        .intro__form
            p.h1 Заказать консультацию
            form.form
                input.form__input(type="text" placeholder="Ваше имя")
                input.form__input(type="text" placeholder="Номер телефона")
                button.button.button__primary-outline(type="submit") Оставить заявку
.intro
    .intro__bg
        //+lazyImage({
        //    src: `${baseDir}assets/images/intro/bg.jpg`,
        //    alt: '',
        //    appear: false,
        //})
        img(src=`${baseDir}assets/images/intro/bg.jpg`)
    .container
        .intro__info
            h1.h1 Автопогрузчики и складская техника
            p.h3 Гарантия 5 лет. 350 единиц техники в наличии. Лучшие цены в России. От официального дилера.
            .intro__btn
                a.button.button__primary-outline Перейти в каталог
        .intro__facts
            .intro__facts-item
                .intro__facts-icon
                    +svg("icon-trophy")
                .intro__facts-num 05
                .intro__facts-text Всего лет на рынке
            .intro__facts-item
                .intro__facts-icon
                    +svg("icon-trophy")
                .intro__facts-num 45
                .intro__facts-text миллионов позиций
            .intro__facts-item
                .intro__facts-icon
                    +svg("icon-trophy")
                .intro__facts-num 3270
                .intro__facts-text Довольных клиентов
            .intro__facts-item
                .intro__facts-icon
                    +svg("icon-trophy")
                .intro__facts-num 24
                .intro__facts-text Часа - экспресс доставка
