mixin slider-logo
    .slider.slider__logo
        .swiper
            .swiper-wrapper
                .swiper-slide
                    .slider__img
                        img(src=`${baseDir}assets/images/brand/jungheinrich.png`)
                .swiper-slide
                    .slider__img
                        img(src=`${baseDir}assets/images/brand/gazprom.png`)
                .swiper-slide
                    .slider__img
                        img(src=`${baseDir}assets/images/brand/jungheinrich.png`)
                .swiper-slide
                    .slider__img
                        img(src=`${baseDir}assets/images/brand/jungheinrich.png`)
                .swiper-slide
                    .slider__img
                        img(src=`${baseDir}assets/images/brand/jungheinrich.png`)
                .swiper-slide
                    .slider__img
                        img(src=`${baseDir}assets/images/brand/jungheinrich.png`)
        .swiper-pagination
